 
@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>

        

        <title>разработка web-приложений</title>


    </head>
<div class="col-md-offset-4">
    <h5 style="font:bold 15px arial,verdana">Компания "StartUp" специализируется на:</h5>
    <ul>
        <li>Разработка Web-приложений /сайтов ASP.NET Core/, сервисных приложений /C#, Python, Java /.</li>
        <li>Автоматизаций объектов. / оборудование от компаний "Owen", локация РБ Уфа /</li>
        <li>Системное администрирование сервера.</li>
    </ul><br />
</div>